@charset "UTF-8";

/* parent div */
.body {
	margin-top: 30px;
	width: 80%;
	margin-left: 9%;
	display: flex;
}

/* card on the left */
.detailCard {
	display: flex;
	width: 50%;
	padding-right: 10px;
}

.detailImg {
	height: 300px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-right: 40px;
}

.detailImg:hover {
	transform: scale(1.2);
	transition: 0.2s;
}

.detailBody {
	text-align: left;
	padding-left: 20px;
	padding-right: 20px
}
/* card on the right */
.sellerCard {
	width: 50%;
	padding-left: 40px;
	margin-left: 70px;
	text-align: left;
	border: 2px solid #FFCE2B;
	border-top-style: hidden;
	border-right-style: hidden;
	border-bottom-style: hidden;
}

input {
	width: 250px;
}

.detailBody p:nth-of-type(3) {
	height: 150px;
	overflow: scroll;
	background-color: rgb(201, 199, 197);
	border-radius: 5px;
	padding: 5px;
}