@charset "UTF-8";

.login {
	margin-top: 30px;
}

input {
	height: 30px;
	width: 200px;
	margin-bottom: 20px;
}

.yellowButton {
	width: 200px;
	margin-bottom: 20px;
	height: 40px;
}

.createButton {
	width: 200px;
	border-radius: 8px;
	margin-bottom: 20px;
}

