@charset "UTF-8";

/* parent div */
.body {
	margin-top: 30px;
	width: 80%;
	margin-left: 9%;
	display: flex;
}

/* card on the left */
.detailCard {
	display: flex;
	width: 50%;
	padding-right: 30px;
}

.detailImg {
	height: 300px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.detailBody {
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.detailBody p:nth-of-type(4) {
	background-color: #cccac8;
	height: 174px;
	overflow: scroll;
	border-radius: 5px;
	padding: 5px;
}
/* card on the right */
.sellerCard {
	width: 50%;
	padding-left: 30px;
	text-align: left;
	border: 2px solid #FFCE2B;
	border-top-style: hidden;
	border-right-style: hidden;
	border-bottom-style: hidden;
}

input {
	width: 250px;
}

.contact {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
